<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
	<script type="text/javascript" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
	<form method="POST">
		{{ form.as_p }} {# .as_p as paragraf tag #}
		{% csrf_token %}
		<input type="submit" class="btn btn-primary" value="submit">
	</form>
	
</div>
</body>
</html>